/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap'); */

*{
	/* box-sizing: border-box; */
	font-family: 'Source Sans Pro', sans-serif;
}

/* body{
	align-items: center;
} */

.buton{
	color:#0390f4;
	display: inline-block;
	font-size: 24px;
	letter-spacing: 4px;
	margin: 20px 40px;
	padding: 24px 30px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    border-radius: 7px;
}

.buton:nth-child(1){
	filter: hue-rotate(290deg);
}

.buton:nth-child(3){
	filter: hue-rotate(110deg);
}

.buton:hover{
	background: #034ff4;
	box-shadow: 0 0 5px #03E9F4, 0 0 25px #03E9F4, 0 0 50px #03E9F4, 0 0 200px #03E9F4;
	color: #050801;
    cursor: pointer;
}

.buton span{
	display: block;
	position: absolute;
}

.buton span:nth-child(1){
	animation: animate1 1s linear infinite;
	background: linear-gradient(90deg, transparent, #03E9F4);
	height: 2px;
	left: -100%;
	top: 0;
	width: 100%;
}

@keyframes animate1{
	0%{
		left: -100%;
	}
	50%, 100%{
		left: 100%;	
	}
}

.buton span:nth-child(2){
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
	background: linear-gradient(180deg, transparent, #03E9F4);
	height: 100%;
	top: -100%;
	right: 0;
	width: 2px;
}

@keyframes animate2{
	0%{
		top: -100%;
	}
	50%, 100%{
		top: 100%;	
	}
}

.buton span:nth-child(3){
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
	background: linear-gradient(270deg, transparent, #03E9F4);
	bottom: 0;
	height: 2px;
	right: -100%;
	width: 100%;
}

@keyframes animate3{
	0%{
		right: -100%;
	}
	50%, 100%{
		right: 100%;	
	}
}

.buton span:nth-child(4){
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
	background: linear-gradient(360deg, transparent, #03E9F4);
	bottom: -100%;
	height: 100%;
	left: 0;
	width: 2px;
}

@keyframes animate4{
	0%{
		bottom: -100%;
	}
	50%, 100%{
		bottom: 100%;	
	}
}

.buton{
    background-color:aliceblue;
    border: none;
}


/* message box */


*, *:before, *:after {
	box-sizing: border-box;
  }
  
  /* #bod {
	height: 100vh;
	background: #ccc;
	overflow: hidden;
  } */
  
  .modal-container {
	margin: 20px auto;
	padding-top: 0px;
	position: relative;
	width: 160px;
	padding-bottom: ;
  }

  
  .modal-container .modal-btn {
	display: block;
	margin: 0 auto;
	color: #fff;
	width: 160px;
	height: 50px;
	line-height: 50px;
	background: #446CB3;
	font-size: 22px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	box-shadow: 0 5px 5px -5px #333;
	transition: background 0.3s ease-in;
  }

  
  .modal-container .modal-btn:hover {
	background: #365690;
  }
  .modal-container .modal-content,
  .modal-container .modal-backdrop {
	height: 0;
	width: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	cursor: pointer;
	transition: opacity 0.2s ease-in;
  }
  .modal-container .modal-close {
	color: #aaa;
	position: absolute;
	right: 5px;
	top: 5px;
	padding-top: 3px;
	background: #fff;
	font-size: 16px;
	width: 25px;
	height: 25px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
  }
  .modal-container .modal-close:hover {
	color: #333;
  }
  .modal-container .modal-content-btn {
	position: absolute;
	text-align: center;
	cursor: pointer;
	bottom: 20px;
	right: 30px;
	background: #446CB3;
	color: #fff;
	width: 50px;
	border-radius: 2px;
	font-size: 14px;
	height: 32px;
	padding-top: 9px;
	font-weight: normal;
  }
  .modal-container .modal-content-btn:hover {
	color: #fff;
	background: #365690;
  }

  .hint
  {
	position: absolute;
	text-align: center;
	cursor: pointer;
	bottom: 20px;
	left: 30px;
	background: #446CB3;
	color: #fff;
	width: 50px;
	border-radius: 2px;
	font-size: 14px;
	height: 32px;
	padding-top: 9px;
	font-weight: normal;
  }
  .modal-container #modal-toggle {
	display: none;
  }
  .modal-container #modal-toggle.active ~ .modal-backdrop, .modal-container #modal-toggle:checked ~ .modal-backdrop {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s ease-in;
  }
  .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
	opacity: 1;
	background-color: #fff;
	max-width: 400px;
	width: 400px;
	height: 280px;
	padding: 10px 30px;
	position: fixed;
	left: calc(50% - 200px);
	top: 12%;
	border-radius: 4px;
	z-index: 999;
	pointer-events: auto;
	cursor: auto;
	visibility: visible;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
  }
  @media (max-width: 400px) {
	.modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
	  left: 0;
	}
  }


.pwd{
	border: solid 2px black;
	border-radius: 5px;
}

.hef
{
	font-weight: bold;
}